$color-m-1: #307f7b;
$color-m-2: #adfffa;
$color-m-3: #60fff6;
$color-m-3t: rgba(173, 255, 250, .75);
$color-m-4: #567f7d;
$color-m-5: #4dccc5;

$col-blk: #000;
$col-wht: #fff;
$col-good: #299429;
$col-warn: #ffc107;
$col-over: #a24a4a;
$col-extr: #f00c0c;
$col-charcoal: #222;
$col-grey-1: #646464;
$col-grey-2: #a4a4a4;
$col-grey-3: #ccc;
$col-trans: rgba(0, 0, 0, 0);

$footer-height: 5rem;
$desktop-lrg: "(min-width: 1024px)";
$desktop: "(min-width: 768px)";
$tablet: "(min-width: 481px)";
$phone: "(max-width: 480px)";
