@keyframes redFlash {
    0% {
        background-color: $col-over;
    }
    100% {
        background-color: $col-extr;
    }
}

@keyframes warnFlash {
    0% {
        background-color: $col-warn;
        color: $col-blk;
    }
    100% {
        background-color: $col-over;
        color: $col-wht;
    }
}

.client {
    border: 1px solid $col-blk;
    margin-top: 1em;
    &--logo {
        float: right;
    }
    &--results {
        display: flex;
        flex-direction: column;
    }
    .timebank {
        &--container {
            display: flex;
            flex-direction: row;
        }
        &--item {
            display: inline-block;
            text-align: center;
            width: 100%;
        }
        &--label {
            font-weight: 600;
        }
        &--value {
            font-weight: 400;
        }
    }
}

.tb {
    color: $col-wht;
    &--good {
        background-color: $col-good;
    }
    &--extreme {
        animation-duration: 2s;
        animation-name: redFlash;
        animation-direction: alternate;
        animation-iteration-count: infinite;
    }
    &--overrun {
        background-color: $col-over;
    }
    &--warning {
        background-color: $col-warn;
        color: $col-blk;
        &__over {
            animation-duration: 2s;
            animation-name: warnFlash;
            animation-direction: alternate;
            animation-iteration-count: infinite;
        }
    }
}

.filter {
    text-align: center;
    &--input {
        width: 100%;
    }
}