.form {
	margin: 0;
	padding: 0;
	&--row {
		margin-bottom: 1rem;
		padding: 1rem;
	}
	&--text-area {
		min-width: 200px;
		min-height: 200px;
	}
}

.input-validation-error {
	font-size: 70%;
	color: #f00;
	font-weight: 500;
	margin-bottom: 1rem;
}

.comment-form {
	min-width: 300px;
	@include respond-to($tablet){
		min-width: 400px;
	}
	@include respond-to($desktop){
		min-width: 700px;
	}
}