.ticket--list {
    &__cell {
        border: 1px #000 dotted;
    }
    &__header {
        border: 1px #000 dotted;
        margin: .5rem 0;
        cursor: pointer;        
    }
    &__link {
        display: inline-block;
        margin: 1rem 0;
        padding: .5rem;
        width: 100%;
    }
    .row {
        margin: 0;
        padding: 0;
        * {
            padding: 0;
        }
    }
}